@model MaryamRahimiFard.Web.ViewModels.AboutViewModel

@{
    ViewBag.Title = "درباره ما";
}

<div class="page-title text-center">
    <div class="block-parallax height40vh blend-bg text-center breadcrumb-back">
        <div class="page-title-wrap">
            <div class="page-title-inner">
                <div class="page-title-align animate" data-animation="fadeIn" data-timeout="800">
                    <h1>@ViewBag.Title</h1>
                    <div class="page-title-description breadcrumbs">
                        <ul>
                            <li><a href="/">خانه</a><span>/</span></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  / .block-parallax -->
</div>

<div class="wrapper-content">
    <div class="container">
        <div class="row">

            <div class="col-md-5">

                <div class="animate" data-animation="fadeIn" data-timeout="400">
                    <img class="circle-img" src="/Files/StaticContentImages/Image/@Model.Image" alt="Groom Image">
                </div>
                <div class="white-space"></div>

                <div class="white-space"></div>

            </div>

            <div class="col-md-7">

                <h4>@Model.Title</h4>
                <div class="white-space"></div>
                @Html.Raw(Model.AboutDescription)
                @*<p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                مورد نیاز، و کاربردهای آن
            </p>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                مورد نیاز، و کاربردهای آن لورم ایپسوم متن ساختگی با تولید سادگی
                نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای آن
            </p>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
                مورد نیاز، و کاربردهای آن لورم ایپسوم متن ساختگی با تولید سادگی
                نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای آن لورم ایپسوم
                متن ساختگی با تولید سادگی نامفهوم از صنعت
                چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای آن
            </p>*@

            </div>
            @Html.Action("AboutNewClassesSection", "Home", new { take = 3})

        </div>
    </div>
    <!-- / .container -->
</div>
<!-- / .wrapper-content -->




@*<main class="main">
        <div class="page-header text-center" style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.BanerImage')">
            <div class="container">
                <h1 class="page-title">@ViewBag.Title</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content pb-3">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="about-text text-center mt-3">
                            <h2 class="title text-center mb-2">@Model.Title</h2><!-- End .title text-center mb-2 -->
                            <p class="text-center">
                                @Model.AboutDescription
                            </p>
                            <img src="/Files/StaticContentImages/Image/@Model.SignatureImage" alt="signature"
                                 class="mx-auto mb-5">

                            <img src="/Files/StaticContentImages/Image/@Model.Image" alt="image"
                                 class="mx-auto mb-6">
                        </div><!-- End .about-text -->
                    </div><!-- End .col-lg-10 offset-1 -->
                </div><!-- End .row -->

                @Html.Action("AboutOurPropertiesSection", "Home")

            </div><!-- End .container -->

            <div class="mb-2"></div><!-- End .mb-2 -->

            @Html.Action("OurTeamsSection", "Home")

            @Html.Action("PartnersSection", "Home");

        </div><!-- End .page-content -->
    </main><!-- End .main -->*@

