@model List<SPAWedding.Core.Models.Gallery>

@using SPAWedding.Core.Models;

@{
    ViewBag.Title = "گالری";

    //var allGroups = new List<ProductGroup>();

    //foreach (var item in Model)
    //{
    //    var group = item.ProductGroup;

    //    if (!allGroups.Contains(group) && group.ParentId == null)
    //    {
    //        allGroups.Add(group);
    //    }

    //}
}

<div class="page-title text-center">
    <div class="block-parallax height40vh blend-bg text-center breadcrumb-back">
        <div class="page-title-wrap">
            <div class="page-title-inner">
                <div class="page-title-align animate" data-animation="fadeIn" data-timeout="800">
                    <h1>@ViewBag.Title</h1>
                    <div class="page-title-description breadcrumbs">
                        <ul>
                            <li><a href="/">خانه</a><span>/</span></li>
                            <li>@ViewBag.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  / .block-parallax -->
</div>

<div class="wrapper-content">
    <div class="container">

        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center text-description">
                <h4>@ViewBag.Gallery.ShortDescription</h4>
                @Html.Raw(ViewBag.Gallery.Description)
            </div>
        </div>
    </div>


    <section id="gallery">
        <div class="gallery-section">
            <div class="container-fluid">

                <div class="gallery-box delay">
                    @foreach (var item in Model)
                    {
                        <div class="box delay">
                            <a class="delay-1" href="~/Files/GalleryImages/Image/@item.Image" data-fancybox="gallery1">
                                <img alt="@item.Title" src="~/Files/GalleryImages/Image/@item.Image" class="img-fluid">
                            </a>
                        </div>
                    }

                </div>

            </div>
        </div>
    </section>

</div>
<!-- / .container -->
    </div>
<!-- / .wrapper-content -->




@*<div class="page-header text-center" style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.BanerImage')">
            <div class="container">
                <h1 class="page-title">@ViewBag.Title</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="container mt-4">
            <div class="text-center">
                <button class="btn mybtn-default filter-button" data-filter="all">همه</button>
                @foreach (var group in allGroups)
                {
                    <button class="btn mybtn-default filter-button" data-filter="@group.Id">@group.Title</button>
                }
            </div>
            <div class="row justify-content-center align-items-center">
                @foreach (var product in Model)
                {
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter @product.ProductGroupId">
                        <img src="Content/client/pic/g1.jpg" class="img-responsive">
                    </div>
                }

            </div>
        </div>


    @section scripts
    {

        <script>
            $(document).ready(function () {

                $(".filter-button").click(function () {
                    var value = $(this).attr('data-filter');

                    if (value == "all") {
                        //$('.filter').removeClass('hidden');
                        $('.filter').show('1000');
                    }
                    else {
                        //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                        //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                        $(".filter").not('.' + value).hide('3000');
                        $('.filter').filter('.' + value).show('3000');

                    }
                });

                if ($(".filter-button").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");

            });
        </script>
    }*@