@model List<SPAWedding.Core.Models.StaticContentDetail>


    <div class="bg-clr bg-clr-figure">

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center animate" data-animation="fadeIn" data-timeout="200">
                        <div class="section-title">
                            <h3>@ViewBag.HomeUnderSliderTitle.Title</h3>
                            <p>@ViewBag.HomeUnderSliderTitle.ShortDescription </p>
                        </div>
                    </div>
                    <div class="white-space"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <!-- ICON TEXT ELEMENT -->

                    <div class="icon-text clearfix">
                        <div class="icon-text-right animate" data-animation="bounceIn" data-timeout="300">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="icon-text-left-content">
                            <div class="icon-text-title">
                                <h6>@Model[0].Title </h6>
                            </div>
                            <div class="icon-text-description">
                                @Model[0].ShortDescription
                            </div>
                        </div>
                    </div>

                    <!-- / ICON TEXT ELEMENT -->

                </div>
                <div class="col-md-4">

                    <!-- ICON TEXT ELEMENT -->

                    <div class="icon-text clearfix">
                        <div class="icon-text-right animate" data-animation="bounceIn" data-timeout="400">
                            <i class="fa fa-shopping-bag"></i>
                        </div>
                        <div class="icon-text-left-content">
                            <div class="icon-text-title">
                                <h6>@Model[1].Title</h6>
                            </div>
                            <div class="icon-text-description">
                                @Model[1].ShortDescription
                            </div>
                        </div>
                    </div>

                    <!-- / ICON TEXT ELEMENT -->

                </div>
                <div class="col-md-4">

                    <!-- ICON TEXT ELEMENT -->

                    <div class="icon-text clearfix">
                        <div class="icon-text-right animate" data-animation="bounceIn" data-timeout="500">
                            <i class="fa fa-ticket"></i>
                        </div>
                        <div class="icon-text-left-content">
                            <div class="icon-text-title">
                                <h6>@Model[2].Title</h6>
                            </div>
                            <div class="icon-text-description">
                                @Model[2].ShortDescription
                            </div>
                        </div>
                    </div>

                    <!-- ICON TEXT ELEMENT -->

                </div>

            </div>
        </div>

    </div>


@*<div class="container">

    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="intro-slider-container mt-2">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "rtl": true,
                            "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                    @foreach (var item in Model)
                    {
                        string link = "";
                        if (!String.IsNullOrEmpty(item.Link))
                        {
                            link = item.Link;
                        }

                        <div class="intro-slide banner-lg"
                             style="background-image: url(/Files/StaticContentImages/Image/@item.Image);">
                            <div class="intro">
                                <div class="title">
                                    <a>@item.Title</a>
                                </div>
                                <div class="content">
                                    <h3>@Html.Raw(item.ShortDescription)</h3>
                                    <h4>@Html.Raw(item.Description)</h4>
                                </div>
                                <div class="action">
                                    <a href="@item.Link">خرید</a>
                                </div>
                            </div>
                        </div><!-- End .intro-slide -->
                    }


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
    </div>

</div>*@

