@model MaryamRahimiFard.Web.ViewModels.ProductDetailsViewModel


@*<div class="lynessa-Tabs-panel lynessa-Tabs-panel--additional_information panel entry-content lynessa-tab"
         id="tab-additional_information" role="tabpanel"
         aria-labelledby="tab-title-additional_information">
        <h2>مشخصات</h2>
        <table class="shop_attributes">
            <tbody>
                @foreach (var featureValue in Model.ProductFeatureValues)
                {
                    <tr>
                        <th> @{featureValue.Feature != null ? featureValue.Feature.Title : @featureValue.Value} </th>
                        <td>
                            <p>
                                @{ var subFeatureValues = string.Join("، ", featureValue.SubFeature.Value); }
                                @subFeatureValues

                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

<div class="tab-pane fade" id="product-info-tab" role="tabpanel"
     aria-labelledby="product-info-link">
    <div class="product-desc-content">
        @*<h3>اطلاعات</h3>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم
                ایپسوم متن ساختگی با تولید سادگی نامفهوم.
            </p>

            <h3>اطلاعات بیشتر</h3>
            <ul>
                <li>لورم ایپسوم متن ساختگی</li>
                <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                <li>لورم ایپسوم</li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                <li> ارتفاع: 31سانتی متر; عرض: 32سانتی متر; عمق: 12سانتی متر</li>
            </ul>*@

        @foreach (var featureValue in Model.ProductFeatureValues)
        {
            <h3>@(featureValue.Feature != null ? featureValue.Feature.Title : @featureValue.Value)</h3>

            if (featureValue.SubFeature != null)
            {
                var subFeatureValues = string.Join("، ", featureValue.SubFeature.Value);
                <p>&nbsp;&nbsp;&nbsp;&nbsp; &emsp; @subFeatureValues</p>
            }
            else
            {
                <p>&nbsp;&nbsp;&nbsp;&nbsp; &emsp; @featureValue.Value</p>
            }
            <hr>

        }
    </div><!-- End .product-desc-content -->
</div><!-- .End .tab-pane -->
