@model List<MaryamRahimiFard.Core.Models.Gallery>

@using MaryamRahimiFard.Core.Models;

@{
    ViewBag.Title = "گالری";

    //var allGroups = new List<ProductGroup>();

    //foreach (var item in Model)
    //{
    //    var group = item.ProductGroup;

    //    if (!allGroups.Contains(group) && group.ParentId == null)
    //    {
    //        allGroups.Add(group);
    //    }

    //}
}



<div class="content-section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="text-center animate" data-animation="fadeIn" data-timeout="200">
                    <div class="section-title">
                        <h3>گالری</h3>
                    </div>
                </div>
            </div>
        </div>

        <section id="gallery">
            <div class="gallery-section">
                <div class="container-fluid">

                    <div class="gallery-box delay">
                        @foreach (var item in Model)
                        {
                            <div class="box delay">
                                <a class="delay-1" href="~/Files/GalleryImages/Image/@item.Image" data-fancybox="gallery1">
                                    <img alt="" src="~/Files/GalleryImages/Image/@item.Image" class="img-fluid">
                                </a>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- / .container -->
</div>






@*<div class="page-title text-center">
        <div class="block-parallax height40vh blend-bg text-center breadcrumb-back">
            <div class="page-title-wrap">
                <div class="page-title-inner">
                    <div class="page-title-align animate" data-animation="fadeIn" data-timeout="800">
                        <h1>@ViewBag.Title</h1>
                        <div class="page-title-description breadcrumbs">
                            <ul>
                                <li><a href="/">خانه</a><span>/</span></li>
                                <li>@ViewBag.Title</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  / .block-parallax -->
    </div>

    <div class="wrapper-content">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center text-description">
                    <h4>@ViewBag.Gallery.ShortDescription</h4>
                    @Html.Raw(ViewBag.Gallery.Description)
                </div>
            </div>
        </div>


        <section id="gallery">
            <div class="gallery-section">
                <div class="container-fluid">

                    <div class="gallery-box delay">
                        @foreach (var item in Model)
                        {
                            <div class="box delay">
                                <a class="delay-1" href="~/Files/GalleryImages/Image/@item.Image" data-fancybox="gallery1">
                                    <img alt="@item.Title" src="~/Files/GalleryImages/Image/@item.Image" class="img-fluid">
                                </a>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </section>

    </div>
    <!-- / .container -->
        </div>
    <!-- / .wrapper-content -->*@
